pandas==1.2.4
opyrator==0.0.12
nltk==3.6.2
pydantic==1.7.3
spacy==3.0.6
sly==0.4
rich==10.1.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.0.0/en_core_web_lg-3.0.0.tar.gz#egg=en_core_web_lg